body {
    font-size: 1em;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../res/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 0;
    color: white;
    width: 402px;
    border-radius: 5px;
    overflow: hidden;
}

.field{
    overflow: hidden;
}

.field input {
    padding: 10px;
    width: 300px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

div.login h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 10px 0;
}

button {
    width: 72px;
    border: 1px solid #00537F;
    border-radius: 5px;
    background-color: #00537F;
    padding: 10px 3px;
    color: white;
    font-size: 1em;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    display: inline-block;
}

button:hover {
    border: 1px solid #0040ff;
    background-color: #0040ff;
    cursor: pointer;
}

.wrapper {
    width: 1000px;
    overflow: hidden;
}

.channels {
    padding: 5px;
    width: 988px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.output {
    overflow-y: scroll;
    word-wrap: break-word;
    width: 806px;
    height: 500px;
    padding: 5px;
    float: left;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.clients {
    width: 170px;
    height: 500px;
    padding: 5px;
    float: left;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.handle {
    display: inline-block;
    text-align:center;
    padding: 10px;
    width: 80px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Century Gothic", Verdana, Arial, sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}